
$btn-blue:#007bff;
$btn-fadedcrimson: #f96e80;
$btn-lightcrimson: #D1495B;
$btn-liteblue: #7bd2ff;


@mixin rippleBackground($color1, $color2) {
    /*
        Ripple Effect Src:
        https://codepen.io/finnhvman/pen/jLXKJw
        Ben Szabo
    */
    transition: background 0.8s;
    background: $color1 radial-gradient(circle, transparent 1%, $color1 1%, ) center/15000%;
    &:hover {
        background-color: $color2;
    }
    &:active {
        background-color: $color2;
        background-size: 100%;
        transition: background 0s;
    }
}

.ripple-btn {
    min-width: 150px;
    min-height: 52px;
    padding: 1px 7px 2px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    color: white;
    box-shadow: 0px 4px 4px black;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

.ripple {
    @include rippleBackground($btn-blue, $btn-liteblue);
}

.alt-ripple {
    @include rippleBackground($btn-lightcrimson, $btn-fadedcrimson);
}

.terminal-category-buttons {
    height: 32px;
}

.ui-pos-ripple {
    display: flex;
	flex-direction: column;
	height: 220px;
    width: 180px;
    font-size: 0.8em;
	border: 1px solid white;
	color: white;
	border-radius: 3px;
	position: relative;
	margin-bottom: 10px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    
    transition: background 0.8s, transform 0.4s, border 0.8s;
    background: $btn-blue radial-gradient(circle, transparent 1%, $btn-blue 1%, ) center/25000%;
    &:hover {
        background-color: $btn-liteblue;
        cursor: pointer;
        transform: translateY(-8px);
    }
    &:active {
        background-color: $btn-liteblue;
        border-width: 4px;
        background-size: 100%;
        transition: background 0s;
    }
}

/*
.ui-pos-item:hover {
	background-color: rgb(255, 255, 255);
	border: 3px solid black;
	color: black;
	transform: translateY(-8px);
}

*/

// POS BUTTONS 

.ui-pos-item_image {
	position: relative;

	width: 100%;
	height: 85%;
	padding: 5px 5px 0 5px;
	object-fit: cover;
	margin-bottom: 3px;
}

.ui-pos-item_image__hoverover {
	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;
}
.ui-pos-item_image__hoverover:hover {
	opacity: 1;
}
.ui-pos-item_content {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 10%;
	text-align: center;
	margin-top: -3px;
}

// ADMIN TERMINAL BUTTONS

.admin-button {
	display: flex;
	align-items: center;

	width: 100%;
	height: 50px;

	padding: 15px 15px;
	border-left: 2px solid lightseagreen;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	transition: padding 0.3s, border 0.3s, color 0.3s ease-out;
	margin-bottom: 8px;
	border-top: 1px solid rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	border-right: 1px solid rgba(0,0,0,0.25);
	border-top-right-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
}

.admin-button:hover {
	padding-left: 20px;
	border-left-width: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px; 
	color: #708FA3;
}
.admin-button__active {
	padding-left: 25px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-left-width: 6px;
	color: #708FA3;
}
.admin-button__active:hover {
	padding-left: 25px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-left-width: 6px;
	color: #708FA3;
}
.admin-menu-icon {
	height: 32px;
	width: 32px;

	margin-right: 12px;
}