.admin-page-wrapper{
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

}

.app-header-admin {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 50px;

  background-image: linear-gradient(to right, #525f7f, #A0A7B8);
  border-bottom: 1px solid white;

}

.main-body-wrapper {
	display: flex;

	width: 100%;
	height: calc(100% - 50px);
}

.sidebar-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 25px 25px;

	width: 250px;
	height: 100%;

	background-color: #f2f6fa;

	border-right: 1px solid gray;
	box-shadow: 5px 0 5px -2px #888;
}

.menu-box, .menu-box__bottom {
	width: 200px;
	height: auto;
}

.admin-button {
	display: flex;
	align-items: center;

	width: 100%;
	height: 50px;

	padding: 15px 15px;

	transition: transform 0.3s ease-out, color 0.3s ease-out;
}

.admin-button:hover {
	transform: translateX(20px);
	color: #708FA3;
}
.admin-button__active {
	transform: translateX(30px);
	color: #708FA3;
}
.admin-button__active:hover {
	transform: translateX(30px);
	color: #708FA3;
}
.admin-menu-icon {
	height: 32px;
	width: 32px;

	margin-right: 12px;
}


.action-column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	width: auto;
	height: 100%;

	padding: 25px 25px;

	background-color: white;

	overflow-y: scroll;
}

.employee-actions-bar {
	display: flex;
	justify-content: space-between;
	padding: 0px 5px;

	width: 100%;
	height: auto;

	margin-bottom: 25px;
}

.admin-employee-search-bar-container {
	display: flex;
	align-items: center;

	width: 300px;
}

.employee-table-container {
	width: 100%;
	height: 100%;
}

.employee-table {
	width: 100%;

	margin-bottom: 25px;
}

.employee-table-head {
	background-color: #e3eaf3;
}
.employee-avatar-image {
	width: 64px ;
	height: 64px;

	margin-left: 16px;

	border-radius: 100px;
}

.omni-table-body tr:nth-child(even) td {
	background-color: #ebf1f5;
	color: #5b6f84;
}

.omni-table-body tr:nth-child(odd) td {
	background-color: #f2f6fa;
	color: #5b6f84;
}

td {
	overflow:hidden;
}

.feed-column {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 350px;
	height: 100%;

	padding: 8px 8px;
	background-color: #f2f6fa;
	border-left: 1px solid gray;
	overflow-y: hidden;
}

.feed-column:hover {
	overflow-y: auto;
}


.event-container {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: auto;
	margin-bottom: 4px;
}

.event-time-container {
	font-size: 0.8em;
	color: rgba(0,0,0,.4);
}

.event-user-name {
	color: #4183c4;
}

/* Charting */

.chart-container__full-row {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: auto;
}

.chart-container__columns {
	display: flex;

	width: 100%;
	height: auto;
}

.gross-chart-dimensions {
	height: 500px;
	width: 500px;
}
.itembars-container {
	width: 70%;
	height: auto;
}
.itempie-chart-container {
	width: 100%;
	max-height:50%;
}
.half-column-chartcontainer-divider {
	width: 30%;
	height: 100%;
}

.category-pie-container {
	width: 100%;
	max-height:50%;
}

/* MOBILE */


.mobile-admin-wrapper {
	 display: flex;
 	flex-direction: column;
 	align-items: center;

 	position: relative;

 	overflow: hidden;

 	width: 100%;
 	height: 100%;

 	min-height: 100vh;
}

.mobile-admin__header {
	display: flex;
 	justify-content: space-between;
 	align-items: center;

 	width: 100%;
 	height: 50px;
}

.mobile-admin__body {
	display: flex;
 	flex-direction: column;
 	align-items: center;
 	width: 100%;
 	height: calc(100% - 50px - 75px);
}

.mobile-admin__footer-navigation {
	display: flex;
 	width: 100%;
 	height:75px;
 	border-top: 1px solid gray;
}

.mobile-admin__footer-navigation__button {
	width: 33.33%;
	height: 100%;

	background-color: rgb(242, 246, 250);
}

@media (max-width: 720px) {
	.action-column {
		width: 100%;
		padding: 0 0;
	}
	table {
		table-layout: fixed;
	}
	table, thead, tbody, tr {
		width: 100%;
	}
	td {
		font-size: 0.8em;
	}
	thead {
		text-align: center;
	}
}
@media (max-width: 720px) {
	td {
		font-size: 0.7em;
	}
}