html, body {
  height: 100%;
  width: 100%;

  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app-root {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 72px;

    background-image: radial-gradient(
      circle at left,
      #693D41,
      #451B36 60%,
      #200416
    );
  border-bottom: 3px solid white;
}

.jumbotron {
  width: 100%;
  height: auto;

  position: relative;
}

.jumbotron-greeter {
  width: 100%;
  height: auto;
}

.hatcontainer1 {
  position: absolute;
  top: 16%;
  bottom: 75%;
  right: 78.5%;
  left: 14%;
}
.hatcontainer-1-companion {
  display: none;
  position: absolute;
  top: 16%;
  right: 70.5%;
}
.hatcontainer1:hover ~ .hatcontainer-1-companion,
.hatcontainer-1-companion:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.teecontainer1 {
  position: absolute;
  right: 30%;
  left: 60%;
  top: 26%;
  bottom: 45%;
}
.pantscontainer2 {
  position: absolute;
  top: 50%;
  bottom: 16%;
  right: 8%;
  left: 86%;
}
.acccontainer1 {
  position: absolute;
  top: 65%;
  bottom: 6%;
  left: 6%;
  right: 81%;
}

.acccontainer2 {
  position: absolute;
  top: 74%;
  bottom: 14%;
  left: 26.5%;
  right: 70.5%;
}

.acccontainer3 {
  position: absolute;

  top: 81%;
  bottom: 7%;
  left: 74%;
  right: 19%;
}

.pantscontainer1 {
  position: absolute;

  top: 50%;
  bottom: 28%;
  right: 42%;
  left: 40%;
}

.jumbotron-context-box {
  border: 3px dashed white;
  transition: border 0.8s ease-out;
}
.jumbotron-context-box:hover {
  border-style:solid;
  animation: breathe 3s infinite;
}
.context-container {
  background-color: white;
  color: black;
}

@keyframes breathe {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
.greeter-button {
  position: absolute;
  left: calc(50% - 100px);
  top: 75%;

  height: 72px;
  width: 200px;

  background-color: black;
  color: white;

  border: 1px solid white;


}

.featured-items {
  display: flex;
  flex-direction: column;
  align-content: center;
  
  font-family: 'Open Sans', sans-serif;

  padding: 22px 22px;
}

.featured-items__header-container {
  padding-left: 32px;
}

.featured-items__slider-container {
  display: flex;
  justify-content: space-around;
  align-self: center;


  width: 100%;
  height: auto;

  margin-top: 26px;

  padding: 26px 26px;

}

.featured-mockup {
  height: 300px;
  width: 300px;
  
  transform: scale(1);
  transition: transform 0.2s ease-in;
}

.featured-mockup:hover {
  transform: scale(1.04);
}

.storybook-container {
  display: flex;
  justify-content: space-around;
  align-self: center;

  width: 100%;
  height: auto;

  margin-bottom: 26px;
}

.feature-set-mockup {
  width: 458px;
  height: 550px;

  transform: scale(1);
  transition: transform 0.2s ease-in;

}

.feature-set-mockup:hover {
  transform: scale(1.02);
}

.search-bar-container {
  width: 100%;
  height: 52px;

    background-image: radial-gradient(
      circle at left,
      #693D41,
      #451B36 60%,
      #200416
    );
}

.main-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  width: 100%;
  height: auto;

  padding: 25px 25px ;
}

.store-link {
  font-size: 0.8em;
  padding-left: 8px;
  padding-top: 5px;
  color: rgb(255, 255, 255, 0.75);
  margin: 0;
}
.account-control {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.my-store-button {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-image: linear-gradient(to right, yellow, orange);
  
  border: 2px solid white;
  border-radius: 5px;

  height: 50px;
  width: 125px;
}

.my-store-icon {
  height: 32px;
  width: 32px;
}

.my-notifications-button {
  width: 50px;
  height: 50px;
}

.my-cart-button {
  position: relative;

  width: 50px;
  height: 50px;

  margin: 0 25px;
}

.my-cart-dropdown {
    display: none;

    position: absolute;
    right:0;

    width: 500px;
    height: 500px;

    padding: 10px 10px;

    background-color: white;
    border: 2px solid black;

    z-index: 100;
}

.my-cart-button:hover .my-cart-dropdown,
.my-cart-dropdown:hover {
  display: flex;
  flex-direction: column;
}


.card-image-source {
  position: relative;
}

.card-image__hoverover {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  width: 298.4px;
  height: 400px;

  top:0;
  left: 0;

  opacity: 0;
  background-color: rgb(0, 0, 0, 0.45);

  color: white;

}

.card-image__hoverover:hover {
  opacity: 1;
}

.essos-delete-icon-container {
  position: absolute;

  top: 10px;
  right: 10px;
}

.item-header-container {
  display: flex;
  justify-content: space-between;

}

.wishlist-icon-container {

  position: relative;

  width: 25px;
  height: 25px;

}

.wishlist-icon-message {
  display: none;
  position: absolute;
  top: 25px;
  left: -45px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.7em;
}

.wishlist-icon-container:hover .wishlist-icon-message {
  display: block;
  width: 100px;
}


.active-wish {
  background-color: yellow;
}

.info-icon {
  height: 50px;
  width: 50px;

  margin: 25px 0;
}


.shopping-cart-dropdown-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  color: black;

  overflow: auto;
}

.cart-item-container-row {
  display: flex;

  width: auto;
  height: auto;

  padding: 5px 5px;
  margin-bottom: 2px;

  border: 1px solid black;
  border-radius: 5px;
}

.cart-item-mini-image-container {
  width: 100px;
  height: 100px;
}
.cart-item-descriptor-container {
  display: flex;
  flex-direction: column;

  width: calc(100% - 100px);
  height: 100%;
}
.cart-item-name-container {
  text-align: center;
  height: 100%;
}
.cart-item-quant-container{
  text-align: right;
  height: 100%;
}
.cart-item-price-container{
  text-align: right;
  height: 100%;
}