.marketing-wrapper {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
}

.screen-resizer{
	position: relative;

	height: 100vh;
	width: auto;

	font-family: 'Ubuntu', sans-serif;
}
.marketing-nav {
	position: fixed;

	display: flex;
	align-items: center;
	justify-content: space-between;

	color: white;

	width: 100%;
	height: 98px;
	padding-top: 8px;

	padding: 0 7.5%;

	background-color: rgba(49, 60, 69, 0.95);

	transition: background-color 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, transform 0.2s ease-out;

	z-index: 3;

}

.marketing-logo-container {
	height: 90px;
	width: 90px;
	transition: height 0.5s ease-out, width 0.5s ease-out;
}
.marketing-logo-container:hover {
	animation: spin 2s infinite ease;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}
.splash-link {
	position: relative;
	text-decoration: none;
	color: white;
	cursor: pointer;
	width: auto;
	margin: 0 12px;
}
.splash-link::after {
	position: absolute;

	left:0;
	right: 0;
	bottom: -2px;
	
	transform: scaleX(0);
	transition: transform 0.2s ease-out;

	content: "\00a0";

	border-bottom: 2px solid white;

	z-index:8;
}
.splash-link:hover::after {
	transform: scale(1);
}
.collapseMarketLogo {
	height: 60px;
	width: 60px;
}

.right-nav {
	display: flex;
	justify-content: space-between;
	width: auto;
	height: auto;
}
.collapseNavHeader {
	height: 60px;
	background-color: rgba(49, 60, 69, 1.00);
}
.moveNavHeaderAway {
	transform: translateY(-60px);
}

.hero-header-1 {
	position: absolute;

	width: 900px;
	height: auto;

	left: calc(50% - 450px);
	top: 30%;

	text-align: center;
	font-size: 2.8em;
	font-weight: 800;
	text-shadow: 2px 2px 5px black;

	/* background-color: rgba(0,0,0,0.75); */
	color: white;


	animation: fadeIn 2s;
}

.hero-header-2 {
	position: absolute;

	width: 400px;
	height: auto;

	left: calc(50% - 200px);
	top: 45%;

	text-align: center;
	font-size: 2.7em;
	font-weight: 700;
	text-shadow: 2px 2px 2px black;

	color: #FF9734;
	opacity: 0;


	animation: fadeIn 2s ease 1s;
	animation-fill-mode: forwards;
}

.hero-header-3 {
	position: absolute;
	display: flex;
	justify-content: space-around;

	width: 400px;
	height: auto;

	left: calc(50% - 200px);
	top: 60%;

	opacity: 0;

	animation: fadeIn 2s ease 2s;
	animation-fill-mode: forwards;

}

/*
.hero-header-4 {
	position: absolute;
	width: 400px;
	height: auto;
	text-align: center;
	font-size: 3em;
	left: calc(50% - 200px);
	top: 90%;
	opacity: 0;
	color: white;
	animation: fadeIn 2s ease 3s;
	animation-fill-mode: forwards;
}
*/

.getting-started-button {
	width: 150px;
	height: 50px;

	outline: none;

	background-color: rgb(255, 71, 52);
	color: #FFC083;

	font-size: 0.9em;
	font-weight: 600;

	border: 2px solid #FFC083;
	border-radius: 10px;

	transition: all 0.4s ease-out;
}

.getting-started-button:hover {
	background-color: #FF9734;
	border-color: rgb(255, 71, 52);
	color: rgb(255, 71, 52);
}

.sign-in-button {
	width: 150px;
	height: 50px;

	outline: none;

	font-size: 0.9em;
	font-weight: 600;

	background-color: #525f7f;

	color: rgb(252, 214, 105);
	border: 2px solid rgb(252, 214, 105);

	border-radius: 10px;

	transition: all 0.4s ease-out;
}

.sign-in-button:hover {
	background-color: rgb(252, 214, 105);
	border-color: #525f7f;
	color: #525f7f;
}

@keyframes fadeIn {
	0% { 
		opacity: 0; 
		transform: translateY(50px);
	}
	100% { 
		opacity: 1; 
		transform: translateY(0px);
	}
}

.splash-intro {
	padding: 0 7.5%;
}

.icon-revealer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: -webkit-sticky;
	position: sticky;
	top: 60px;

	width: 100%;
	height: 192px;
	background-color: rgba(64,64,64);

	transition: height 0.8s ease-out, top 0.2s ease-out;
}

.shrink-sticky {
	height: 100px;
	top: 0;
}
.icon-revealer-row {
	display: flex;
	justify-content: space-around;

	width: 100%;
	height: 100%;

	padding: 12px 0;
}


.sticky-headers {
	font-size: 1em;
	transition: font-size 0.8s ease-out, opacity 0.8s ease-out;
}

.sticky-header-shrink {
	font-size: 0.5em;
	opacity: 0;
}

.informatic-blurb {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	top: 10px;

	text-align: center;
	color: rgba(255, 255, 255, 0.85);

	transition: 0.8s width ease-out;

}

.abs-ico-co1 {
	left: 7.194%;
	transition: 1.1s left ease-out, transform 1.1s ease-out;
}

.abs-ico-co2 {
	left: 30.325%;
	transition: 1s left ease-out, transform 1s ease-out;
}

.abs-ico-co3 {
	left: 58.55143%;
	transition: 0.9s left ease-out, transform 0.9s ease-out;
}
.abs-ico-co4 {
	left: 82.09201%;
	transition: 0.8s left ease-out, transform 0.8s ease-out;
}

.co1-move {
	width: 125px;
	left: calc(100% - 500px - 7.5% + 50px);
}
.co2-move {
	width: 125px;
	left: calc(100% - 375px - 7.5% + 50px);
}
.co3-move {
	width: 125px;
	left: calc(100% - 250px - 7.5% + 50px);
}

.co4-move {
	width: 125px;
	left: calc(100% - 125px - 7.5% + 50px);
}

@keyframes hoverme {
	0% {
		transform: translateY(-3px);
	}
	50% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(-3px);
	}
}
@keyframes hover {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0px);
	}
}

.informatic-blurb__icon {
	height: 100px;
	width: 100px;

	margin: 12px 0;
	transition: width 0.8s ease-out, height 0.8s ease-out;
}

.shrink-icon {
	height: 50px;
	width: 50px;
}

.informatic-blurb__text {
	max-width: 400px;
	height: auto;
}

/* FEATURE SETS */

.feature-set-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;

	font-family: "Ubuntu", sans-serif;
}

.feature-padded-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 7.5% 7.5%;
	height: auto;
	transition: background-color 0.8s ease-out
}

.feature-padded-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 7.5% 7.5%;
	height: auto;
	transition: background-color 0.8s ease-out, color 0.8s ease-out;
}

.feature-blurb {
	width: 500px;
	height: 500px;
	color: white;
}
.feature-blurb__text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.feature-blurb__image {
	width: 700px;
}
.blurb-center-wrapper {
	display: flex;
	flex-direction: column;
	align-content: center;
}
.blurb-center-wrapper h2 {
	text-align: center;
}
.activate-feature {
	background-color:/* #AA3939 */ #C196C7;
}

.activate-feature .feature-blurb {
	color: #F3FBBC;
}

.sticky-headers {
	color: white;
}

.chart-image {
	height: 650px;
	width: 650px;		
}
.market-image {
	width: 700px;
	height: 500px;
}

@media (max-width: 796px) {
	.informatic-blurb {
		display: flex;
		flex-direction: column;
		align-items: center;

		position: static;

		text-align: center;
		color: rgba(255, 255, 255, 0.85);

		transition: 0.8s width ease-out;

	}
}

@media (max-width: 700px) {
	.hero-header-1 {
		font-size: 2.2em;
	}
	.hero-header-2 {
		font-size: 2.2em;
	}
	.icon-revealer-container {
		height: 156px;
	}
	.shrink-sticky {
		height: 100px;
		top: 0;
	}
	.informatic-blurb {
		top: 5px;
	}
	.informatic-blurb__icon {
		height: 65px;
		width: 65px;
	}
	.feature-blurb {
		width: 100%;
		height: auto;
	}
	.feature-padded-row {
		flex-direction: column;
	}
	.blurb-center-wrapper {
		text-align: center;
	}
	.feature-padded-column {
		text-align: center;
	}
	.feature-blurb__image {
		width: 100%;
		height: auto;
	}
	.chart-image {
		width: 100%;
		height: auto;
	}
	.market-image {
		width: 100%;
		height: auto;
	}
	.reverse {
		flex-direction: column-reverse;
	}
	.splash-link {
		margin: 0 2px;
		font-size: 0.8em;
	}
}

@media (max-width: 420px) {
	.hero-header-1 {
		font-size: 1.65em;
	}
	.hero-header-2 {
		font-size: 1.65em;
	}
	.sticky-headers {
		font-size: 0.8em;
	}
	.splash-link {
		margin: 0 2px;
		font-size: 0.75em;
	}
	.hero-header-1 {
		font-size: 1.65em;
		max-width: 300px;
		left: calc(50% - 150px);
	}
}

@media (max-width: 350px) {
	.splash-link {
		margin: 0 2px;
		font-size: 0.70em;
	}
}