.marketing-wrapper {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
}

.screen-resizer{
	position: relative;

	height: 100vh;
	width: auto;

	font-family: 'Ubuntu', sans-serif;
}
.marketing-nav {
	position: fixed;

	display: flex;
	align-items: center;
	justify-content: space-between;

	color: white;

	width: 100%;
	height: 98px;
	padding-top: 8px;

	padding: 0 7.5%;

	background-color: rgba(49, 60, 69, 0.95);
	border-bottom: 1px solid gray;

	transition: background-color 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out;

	z-index: 3;

}

.marketing-logo-container {
	height: 90px;
	width: 90px;
	padding: 2px 2px;
	transition: height 0.5s ease-out, width 0.5s ease-out;
}

.collapseMarketLogo {
	height: 60px;
	width: 60px;
}

.right-nav {
	display: flex;
	justify-content: space-between;
	width: 300px;
	height: auto;
}
.collapseNavHeader {
	height: 60px;
	background-color: rgba(49, 60, 69, 1.00);
}

.hero-header-1 {
	position: absolute;

	width: 900px;
	height: auto;

	left: calc(50% - 450px);
	top: 30%;

	text-align: center;
	font-size: 2.8em;
	font-weight: 800;
	text-shadow: 2px 2px 5px black;

	/* background-color: rgba(0,0,0,0.75); */
	color: white;


	animation: fadeIn 2s;
}

.hero-header-2 {
	position: absolute;

	width: 400px;
	height: auto;

	left: calc(50% - 200px);
	top: 45%;

	text-align: center;
	font-size: 2.7em;
	font-weight: 700;
	text-shadow: 2px 2px 2px black;

	color: #FF9734;
	opacity: 0;


	animation: fadeIn 2s ease 1s;
	animation-fill-mode: forwards;
}

.hero-header-3 {
	position: absolute;
	display: flex;
	justify-content: space-around;

	width: 400px;
	height: auto;

	left: calc(50% - 200px);
	top: 60%;

	opacity: 0;

	animation: fadeIn 2s ease 2s;
	animation-fill-mode: forwards;

}

/*
.hero-header-4 {
	position: absolute;
	width: 400px;
	height: auto;
	text-align: center;
	font-size: 3em;
	left: calc(50% - 200px);
	top: 90%;
	opacity: 0;
	color: white;
	animation: fadeIn 2s ease 3s;
	animation-fill-mode: forwards;
}
*/

.getting-started-button {
	width: 150px;
	height: 50px;

	outline: none;

	background-color: rgb(255, 71, 52);
	color: #FFC083;

	font-size: 0.9em;
	font-weight: 600;

	border: 2px solid #FFC083;
	border-radius: 10px;

	transition: all 0.4s ease-out;
}

.getting-started-button:hover {
	background-color: #FF9734;
	border-color: rgb(255, 71, 52);
	color: rgb(255, 71, 52);
}

.sign-in-button {
	width: 150px;
	height: 50px;

	outline: none;

	font-size: 0.9em;
	font-weight: 600;

	background-color: #525f7f;

	color: rgb(252, 214, 105);
	border: 2px solid rgb(252, 214, 105);

	border-radius: 10px;

	transition: all 0.4s ease-out;
}

.sign-in-button:hover {
	background-color: rgb(252, 214, 105);
	border-color: #525f7f;
	color: #525f7f;
}

@keyframes fadeIn {
	0% { 
		opacity: 0; 
		transform: translateY(50px);
	}
	100% { 
		opacity: 1; 
		transform: translateY(0px);
	}
}


.icon-revealer-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: sticky;
	top: 50px;

	width: 100%;
	height: 192px;
	background-color: rgba(64,64,64);
	padding: 12px 12px; 

	transition: height 0.8s ease-out
}

.shrink-sticky {
	height: 100px;
	overflow: hidden;
}
.icon-revealer-row {
	display: flex;
	justify-content: space-around;

	width: 100%;
	height: 100%;

	padding: 12px 0;
}


.sticky-headers {
	font-size: 1em;
	transition: font-size 0.8s ease-out, opacity 0.8s ease-out;
}

.sticky-header-shrink {
	font-size: 0.5em;
	opacity: 0;
}

.informatic-blurb {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	top: 10px;

	text-align: center;
	color: rgba(255, 255, 255, 0.85);

	transition: 0.8s width ease-out;

}

.abs-ico-co1 {
	left: 7.194%;
	transition: 1.1s left ease-out,
}

.abs-ico-co2 {
	left: 30.325%;
	transition: 1s left ease-out
}

.abs-ico-co3 {
	left: 58.55143%;
	transition: 0.9s left ease-out
}
.abs-ico-co4 {
	left: 82.09201%;
	transition: 0.8s left ease-out
}

.co1-move {
	width: 125px;
	left: calc(100% - 500px - 7.5% + 50px);
}
.co2-move {
	width: 125px;
	left: calc(100% - 375px - 7.5% + 50px);
}
.co3-move {
	width: 125px;
	left: calc(100% - 250px - 7.5% + 50px);
}

.co4-move {
	width: 125px;
	left: calc(100% - 125px - 7.5% + 50px);
}

@keyframes hoverme {
	0% {
		transform: translateY(-3px);
	}
	50% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(-3px);
	}
}
@keyframes hover {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0px);
	}
}

.informatic-blurb__icon {
	height: 100px;
	width: 100px;

	margin: 12px 0;
	transition: width 0.8s ease-out, height 0.8s ease-out;
}

.shrink-icon {
	height: 50px;
	width: 50px;
}

.informatic-blurb__text {
	max-width: 400px;
	height: auto;
}

/* FEATURE SETS */

.feature-set-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
}

.feature-padded-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 7.5% 7.5%;
	height: auto;
	transition: background-color 0.8s ease-out
}

.feature-padded-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 7.5% 7.5%;
	height: auto;
	transition: background-color 0.8s ease-out
}

.feature-blurb {
	width: 500px;
	height: 500px;
}
.feature-blurb__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.feature-blurb__image {
	width: 700px;
}

.activate-feature {
	background-color: /* #AA3939 */ #C196C7;
}