.registration-picker-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;

	background-color: #525f7f;
	color: white;
}

.picker-header-container {
	text-align: center;
	margin-bottom: 25px;
}

.centered-rectangle {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;

	background-color: #525f7f;
	width: 1136px;
	height: 500px;

	padding: 25px 75px;
	border: 2px #9bacc8 solid;
	border-radius: 10px;

}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}
	100% {
		opacity: ;
		transform: translateX(50px);
	}
} 

.modal-corner-hide {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 50px;
	height: 50px;
	transition: transform 0.8s ease;
}
.modal-corner-hide:hover {
	cursor: pointer;
	transform: rotate(456deg) scale(1.15);

}


.modalpicker-selector {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: 100%;
}
.modalpicker-selector h3 {
	text-align: center;
	margin-top: 16px;

}

.picker-button-container {
	display: flex;
	justify-content: space-around;

	width: 70%;
	height: auto;

	padding: 0px 25px;
}

.icon-container {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 200px;
	height: 200px;

	background-color: rgb(255, 255, 255, 0.50);
	border-radius: 100px;

	transition: background-color 0.8s, border 0.8s, transform 0.8s;
}

.icon-container:hover {
	background-color: rgb(252, 214, 105);
	border: 5px solid white;
	cursor: pointer;
}

.activeIcon, .activeIcon:hover {
	background-color: rgb(252, 114, 145);
	border: 10px solid white;
	box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2);
	transform: translateY(-10px);
}

.fade-in-text {
	animation: fadeIn 2s;
}

.fade-in-button {
	opacity: 0;
	animation: fadeIn 2s ease 1.5s;
	animation-fill-mode: forwards;
}
.reg-selection-header {
	transition: color 0.8s;
}
.activeHeader {
	color: rgb(252, 214, 105);
}
.point-sale-icon {
	margin-left: 20px;
}
.icon-container img {
	width: 125px;
	height: 125px;
}

.notification-box {
	margin: 25px 0px;

	text-align: center;

	color: rgb(145, 168, 170);
}

.notification-box div {
	margin: 10px 0px;
}


@media (max-height: 800px) {
	.icon-container {
		width: 100px;
		height: 100px;
	}
	.online-market-icon {
		width: 50px;
		height: 50px;
	}
}