table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}

.action-page-wrapper {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;

	/* background-color: #525f7f; */
	color: white;
}
.app-header__terminal-action {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 60px;

  background-color: rgb(42,42,42);

  border-bottom: 1px solid rgb(255,255,255, 0.45);

}

.main-action-wrapper {
	display: flex;

	height: calc(100% - 60px);
	width: 100%;

	/*background-color: #525f7f;*/
	color: white;
}

.picker-column {
	display: flex;
	flex-direction: column;

	width: 63.33%;
	height: 100%;
}

.touchpad {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	flex-grow: 1;


	padding: 10px 25px;

	background-color: rgb(49, 60, 69);

	overflow-y: auto;
}

.touchpad-subcategory {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	flex-grow: 1;
}

.category-selection-buttons {
	display: flex;
	flex-wrap: wrap;


	min-height: 50px;
	width: 100%;
	background-color: rgb(49, 60, 69);

	overflow-y: auto;
	padding: 10px 25px;
}

.ledger {
	display: flex;
	flex-direction: column;
	width: 36.66%;
	height: 100%;
}
.ledger-table {
	width: 100%;
	height: auto;
	border-collapse: separate;
	border-spacing: 0px;
}
.ledger-table th, .ledger-table td {
	border: 0.5px solid white;
}
.ledger-row{
	text-align: center;
}
.ledger-row:hover {
	background-color: rgba(255,255,255,0.9);
	color: black;
}
.ledger-table__header {
	width: 100%;
	text-align: center;
	color: black;
	background-color: rgba(255,255,255,0.85);
}
.fade-in-row {
	opacity: 0;
	animation: fadeInTableRow 0.5s;
	animation-fill-mode: forwards;
}

@keyframes fadeInTableRow {
	0% { 
		opacity: 0; 
		transform: translateY(-10px);
	}
	100% { 
		opacity: 1; 
		transform: translateY(0px);
	}
}

.ledger-tbody tr:nth-child(even) td {

}
.ledger-tbody tr:nth-child(odd) td {

}

.table-container {
	flex-grow: 1;

	width: 100%;
	max-height: calc(100% - 165px);
	background-color: rgb(42,42,42);

	overflow-y: auto;
}

.action-screen-table {
	border-collapse: collapse;
}
.ledger-footer {
	display: flex;
	flex-direction: column;
	height: 165px;
	width: 100%;

	padding: 15px 15px;

	background-color: rgb(42,42,42);
}

.footer-buttons-pricing {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 115px;
	color: white;
}

.pricing-container {
	display: flex;
	flex-direction: column;
	width: 150px;
}

.checkout-button {
	width: 100%;
	height: 50px;

	background-color: #207120;
	color: #C2EFC2;
	text-align: center;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);

	border-radius: 10px;
	padding: 8px;
}

.action-button {
	width: 100px;
	height: 35px;

	padding: 8px;
	text-align: center;

	border-radius: 10px;
}

.Hide { 
	display: none;
 }

 .payment-choice-wrapper {
 	display: flex;
 	justify-content: space-around;
 	width: 500px;
 	height: 200px;

 	background-color: rgba(0,0,0,0.85);

 }

.payment-section-segment {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;

 	height: 100%;
 	width: 50%;

 	color: white;
 	background-color: rgba(0,0,0,0.25);
 	transition: color 0.8s ease;

 }

.payment-selection-icon img {
 transform: scale(1);
 transition: transform 0.8s ease;
}
.payment-section-segment:hover {
 	background-color: rgba(255,255,255,0.55);
 	color: #D3EFB3;
 }

.payment-section-segment:hover > .payment-selection-icon img {
 	transform: scale(1.25);
 }


/* Mobile */

 .mobile-action-wrapper {
 	display: flex;
 	flex-direction: column;
 	align-items: center;

 	position: relative;

 	overflow-x: hidden;

 	width: 100%;
 	height: 100%;
 	color: white;

 }
 .mobile-action__body__table-container {
 	overflow: auto;
 	width: 100%;
 }
 .mobile-action__body__tfooter-action-container {
 	height: auto;
 	width: 100%;
 	background-color: rgb(42,42,42);
 }
 .mobile-action-sidebar {
 	display: flex;
 	flex-direction: column;
 	align-items: center;

 	height: 100%;
 	width: 100%;

 	position: absolute;

 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;

 	transition: transform 0.3s;

 	transform: translateX(100%);

 	background-color: rgb(42, 42, 42);
 	z-index: 100;
 }

 .activeSidebarMenu {
 	transform: translateX(0%);
 }

 .mobile-action__header {
 	display: flex;
 	justify-content: space-between;
 	align-items: center;

 	width: 100%;
 	height: 50px;

   	background-color: rgb(42,42,42);
   	color: white;
  	border-bottom: 1px solid rgb(255,255,255, 0.45);
 }

  .mobile-action-button {
 	padding: 0;
 	background-color: rgba(255,255,255,0.50);
 	padding: 5px 5px;
 	outline: none;
 	border: none;
 }
  .mobile-action-button:hover {
 	background-color: rgb(66, 64, 244);
 }

 .mobile-action__body {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: space-between;
 	width: 100%;
 	height: calc(100% - 50px);
 	background-color: rgb(49, 60, 69);
 }

 .mobile-action-sidebar__body {
 	overflow: auto;
 }