.product-page-wrapper {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
}

.main-user-header {
	display: flex;

	width: 100%;
	height: 300px;

	border-bottom: 2px solid gray;
}

.user-social-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	width: 400px;
	height: 100%;
}

.user-menu-control-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	width: calc(100% - 400px);
	height: 100%;
}

.user-content-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;

	min-height: calc(100% - 200px);


	padding: 25px 25px ;
}

.user-context-menu-button-container{
	display: flex;
	justify-content: space-between;
}

.user-context-menu-button {
	position: relative;
	height: 22px;
	padding: 0 15px;
	width: auto;
	text-align: center;
}

.user-context-menu-button::before {
	position: absolute;
	
	left: 0;
	right: 0;
	bottom: 0;

	content: "";

	transition: border-bottom 0.2s ease-out;
	z-index: 5;
}

.user-context-menu-button:hover::before {
	border-bottom: 2px solid black;
}

.user-context-menu-button::after { 
	position: absolute;

	left:0;
	right: 0;
	bottom: 0;
	
	transform: scaleX(0);
	transition: transform 0.2s ease-out;

	content: "\00a0";

	border-bottom: 2px solid blue;

	z-index:8;
}

.underlinebutton-active::after {
	transform: scaleX(1);
}

.cart-button {
	text-align: center;
	padding-top: 10px;
	height: 50px;
	background-color: gray;
}
/* mockups */
.user-avatar{
	width: 200px;
	height: 200px;

	border-radius: 100px;
}


.user-avatar-image {
	border-radius: 100px;
}

.user-name-blurb{
	width: 100px;
	height: 2em;
}

.user-social-stats{
	width: 150px;
	height: 2.5em;
}

.metadata-loading {
	background-color: gray;
	animation: loadingOpacity 2s infinite;
}



@keyframes loadingOpacity {
	0% { opacity: 0.5; }
	50% { opacity:  1; }
	100% { opacity: 0.5; }
}