.product-page-wrapper {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
}

.main-user-header {
	display: flex;

	width: 100%;
	height: 300px;

	border-bottom: 2px solid gray;
}

.user-social-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	width: 400px;
	height: 100%;
}

.user-menu-control-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	width: calc(100% - 400px);
	height: 100%;
}

.user-content-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;

	min-height: calc(100% - 200px);


	padding: 25px 25px ;
}

.user-context-menu-button-container{
	display: flex;
	justify-content: space-between;
}

.user-context-menu-button {
	position: relative;
	height: 22px;
	padding: 0 15px;
	width: auto;
	text-align: center;
}

.user-context-menu-button::before {
	position: absolute;
	
	left: 0;
	right: 0;
	bottom: 0;

	content: "";

	transition: border-bottom 0.2s ease-out;
	z-index: 5;
}

.user-context-menu-button:hover::before {
	border-bottom: 2px solid black;
}

.user-context-menu-button::after { 
	position: absolute;

	left:0;
	right: 0;
	bottom: 0;
	
	transform: scaleX(0);
	transition: transform 0.2s ease-out;

	content: "\00a0";

	border-bottom: 2px solid blue;

	z-index:8;
}

.underlinebutton-active::after {
	transform: scaleX(1);
}

.cart-button {
	text-align: center;
	padding-top: 10px;
	height: 50px;
	background-color: gray;
}
/* mockups */
.user-avatar{
	position: relative;

	width: 200px;
	height: 200px;

	border-radius: 100px;
}

.user-avatar-hoverover {
	position: absolute;
	top: 0;
	left: 0;

	width: 200px;
	height: 200px;

	border-radius: 100px;

	opacity: 0;
}

.user-avatar-hoverover:hover {

	padding-top: 45%;
	text-align: center;

	background-color: rgba(0, 0, 0, .45);
	opacity: 1;
	color: white;
}

.purchase-order-container {
	display: flex;
	flex-direction: column;

	width: 800px;
	height: 100%;
}

.purchase-order__flex-row {
	display: flex;
	justify-content: space-between;

	border: 2px solid black;
	margin-top: 10px;
	padding: 10px 10px;
}

.purchase-order__image-container {
	width: auto;
	height: 200px;
}

.purchase-order__item-details {
	display: flex;
	flex-direction: column;
}
.user-avatar-image {
	border-radius: 100px;
}

.user-name-blurb{
	width: auto;
	height: 2em;
}

.user-social-stats{
	display: flex;
	justify-content: space-between;

	width: auto;
	height: 2.5em;
}

.userpage-ticker-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	text-align: center;

	width: 75px;
	height: 100%;
}
.userpage-ticker-container:hover {
	background-color: rgba(0,0,0,0.35);
}
.ticker-header {
	font-size: 0.75em;
}
.ticker-payload {
	font-size: 0.85em;
}

.user-social__user-container {
	display: flex;
	height: 100px;
	width: auto;
}
.user-social__avatar-container {
	width: 50px;
	height: 50px;

	border-radius: 50px;
}

.user-social__name-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 125px;
}

.user-wishlist__wishlist-container {
	display: flex;
	height: auto;
	width: auto;

	margin-bottom: 10px;
}

.user-wishlist__image-container {
	width: 112.5px;
	height: 150px;
}
.user-wishlist__metadata-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 125px;
}

.metadata-loading {
	background-color: gray;
	animation: loadingOpacity 2s infinite;
}


@keyframes loadingOpacity {
	0% { opacity: 0.5; }
	50% { opacity:  1; }
	100% { opacity: 0.5; }
}

/* Purchase Order Page */
 
.delayed {
	background-color: yellow;
 }
.awaiting_delivery {
	background-color: gray;
}
.shipped {
	background-color: green;
}
.order-status-button {
	position: relative;

	width: 125px;
	height: 65px;

	transition: 0.8s background-color ease-out;
}

.purchase-order__item-status-container {
	padding-right: 50px;
	padding-top: 50px;
}
.order-status-button__dropdown-container {
	position: absolute;
	display: none;
	top: 100%;

	width: auto;
	height: auto;
}

.order-status-button:hover .order-status-button__dropdown-container,
.order-status-button__dropdown-container:hover {
	display: flex;
	flex-direction: column;
}


