.marketing-nav {
	position: fixed;

	display: flex;
	align-items: center;
	justify-content: space-between;

	color: white;

	width: 100%;
	height: 98px;
	padding-top: 8px;

	padding: 0 7.5%;

	background-color: rgba(49, 60, 69, 0.95);

	transition: background-color 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, transform 0.2s ease-out;

	z-index: 3;

}

.collapseNavHeader {
	height: 60px;
	background-color: /* rgba(245, 186, 54) Cray Yellow */ rgba(49, 60, 69, 1.00);
}
.moveNavHeaderAway {
	transform: translateY(-60px);
}

/* NavBar Links */

.right-nav {
	display: flex;
	justify-content: space-between;
	width: auto;
	height: auto;
}

.splash-link {
	position: relative;
	text-decoration: none;
	color: white;
	cursor: pointer;
	width: auto;
	margin: 0 12px;
}

.splash-link::after {
	position: absolute;

	left:0;
	right: 0;
	bottom: -2px;
	
	transform: scaleX(0);
	transition: transform 0.2s ease-out;

	content: "\00a0";

	border-bottom: 2px solid white;

	z-index:8;
}

.splash-link:hover::after {
	transform: scale(1);
}




@media (max-width: 700px) {
	.splash-link {
		margin: 0 2px;
		font-size: 0.8em;
	}
}

@media (max-width: 420px) {
	.splash-link {
		margin: 0 2px;
		font-size: 0.75em;
	}
}

@media (max-width: 350px) {
	.splash-link {
		margin: 0 2px;
		font-size: 0.70em;
	}
}