/*
	Add Item Modal
*/
.addItemModalForm {
	min-width: 350px;
}
.timesheetEntryModal {
	min-width: 350px;
}
.tagSelectionContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 400px;
	justify-content: center;
}


/* 
	Root Body Styling 
*/

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

#root {
	height: 100%;
	width: 100%;
}
.Hide {
  display:none;
}

/* 
	Login and Registration Forms
*/

.login-form-submit-button>.ui.button {
	color: #fff;
	background-color: #0375B4;
}

.leftLabel {
	text-align: left;
}

.rightLabel {
	text-align: right;
}

/* 
	Admin Terminal 
*/

.ui.inverted.menu .item:hover{
	background-color: #fff !important;
	color: black;
	cursor: pointer;

}

.admin-header-menu-item_first-item {
	padding-left: 25px !important ;
	margin-top: 50px !important; 
}

.admin-header-menu-item_extra_padding_bottom {
	padding-bottom: 18px !important;
	color: #fff !important;
}
.admin-page-wrapper {
	width: 100%;
	height: 100%;
}

.admin-header {
	background-color: #363F48;
	height: 53.2px;
	width: 100%;
}

.admin-content-display {
	width: 100%;
	height: 100%;
	background-color: #313C45;
}
.admin-content-display_inner-wrapper {
	margin: auto;
	overflow: auto;
	height: 100%;
	padding-left: 75px;
	padding-right: 75px;
	padding-bottom: 25px;
	padding-top: 25px;
}
.admin-sidebar-and-content-wrapper {
	display: flex;
	height: calc(100vh - 53.2px);
	width: 100%;
}
.admin-sidebar-menu {
	width: 250px !important;
	height: 100% !important;
	background-color: rgba(0,0,0,.87);
}

.admin-menu_bottom-button {
	align-self: flex-end;

}

/*
	Employee Management Screen - Admin Component
*/

.employee-window {
	width: 100%;
	height: 100px;
	box-sizing: content-box;
	border: 1px solid white;
	display: flex;
	min-width: 1000px;
}
.employee-avatar-container {
	box-sizing: content-box;
	width: 100px;
	height:100px;
}
.employee-metadata-table {
	height: 100%;
	flex-grow: 1;
	display: flex;
	min-width: 800px;
}
.employee-metadata-container-1 {
	width: 50%;
	border-right: 1px solid white;
	display: flex;
	flex-direction: column;
}
.employee-metadata-container-2 {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.employee-contact-section{
	padding-left: 5px;
}
.employee-avatar{
	width: 100%;
	height: 100%;
	border-right: 1px solid white;
}


/*
.admin-footer {
	display: block;
	text-align: center;
	height: 3vh;
	width: 100%;
	color: #fff;
	background-color: #3f1115;
}
*/

.ui.menu {
	height: 100%;
}
/* 
	Employee Terminal 
*/

.page-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #313C45;
	margin: auto;
}

.terminal-navigation-wrapper {
	height: 60%;
	width: 60%;
	margin: auto;
}
.terminal-nav-bar {
	position: fixed;
	top: 0vh;
	left: 0vw;
	background-color: #363F48;
	height: 50px;
	width: 100%;
}
.terminal-button {
	position: relative;
	height: 100%;
	width: 25%;
}
.terminal-button-row {
	display: block;
	height: 50%;
	width: 100%;
}
.iconPosition {
	position: absolute;
	top: 30%;
	left: 47%;
}
.terminal-button-row-internal-flex {
	display: flex;
	height: 100%;
	justify-content: space-evenly;
}

/* 
	My Store Viewer
*/

.my-store-page-wrapper_sidebar-meta {
	height: 100%;
	width: 100%;
}
.my-store-page-wrapper {
	height: 100vh;
	width: 100%;
	display:flex;
}

.my-store-sidebar-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 150px;
	background-image: radial-gradient(
      circle at bottom right,
      #693D41,
      #451B36 60%,
      #200416
    );
}

/*
	Marketplace-Cards
*/

/* rgb(221, 221, 221) */

.ui.card > .content > .header, .ui.cards > .card > .content > .header { color: white !important; }
.ui.card .meta, .ui.cards > .card .meta { color: rgb(255, 255, 255, .5) !important; }
.ui.card > .content > .description, .ui.cards > .card > .content > .description { color: rgb(255, 255, 255, .8) !important }

.ui.card { 
	background-color: rgb(34, 35, 39) !important;
	color:white !important; 
}
.ui.card > .content { 
	background-color: rgb(34, 35, 39) !important; 
	color:white !important;
}
.ui.cards > .card > .content { 
	background-color: rgb(34, 35, 39) ;
	color:white !important;
}
.ui.cards > .card > .extra { 
	background-color: rgb(34, 35, 39);
	color:white !important;
}
.cardContainer {
	padding-bottom: 25px;
}

.storeItemContainer {
	height: 100vh;
	width: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.my-store-left-sidebar_button {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	color: white;
	height: 100px;
	width: 90%;
	height: 16.66vh;

}

.my-store-left-sidebar_button_icon {
	position: absolute;
	top: 15%;
	left: 25%;
}
._last_icon {
	left: 23%;
}
.my-store-left-sidebar_button_heading {
	padding-top: 50%;

}

/*
	Main Content
*/ 

.my-store-homepage-main-content {
	display: flex;
	height: 100%;
	width: 54vw;
	flex-grow: 1;
	flex-direction: column;
	/*
	background-image: radial-gradient(
      circle at center,
      #4C1D3B,
      #340D27 50%,
      #040003
    );;
    */
	overflow: auto;
	
	/* background-color: rgb(221, 221, 221); */
	/* background-color: rgb(0, 0, 0, .90); */
	/* background-color: rgba(19, 0, 2, .92); */
	/* background-color: rgba(69, 27, 54, 0.77); */
}

.my-store-main-content-border {
	display: flex;
	flex-direction: column;
	padding-top: 5%;
	width: 100%;
	overflow: auto;
}

.itemBrowserWrapper{
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cardViewerWrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;
	padding-top: 5%;
	width: 100%;
	overflow: auto;
}

/*
	Main Marketplace View
*/

.marketplace-wrapper {
	display: flex;
	flex-direction: row;
	width: 95%;
	height: 350px;
	align-self: center;
	border: 1px solid gray;
	align-content: space-around;
	margin-bottom: 30px;
	box-shadow: rgb(212, 212, 213) 0px 1px 3px 0px, rgb(212, 212, 213) 0px 0px 0px 1px;
}
.marketplace-avatar-container {
	height: 100%;
	width: 450px;
}
.marketplace-card-content {
	flex-grow:1;
	color: white;
	background-color: rgb(0, 0, 0, .7);
}

/* 
	Store - Right Sidebar
*/

.my-store-homepage-right-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 25vw;
	background-image: radial-gradient(
      circle at bottom left,
      #693D41,
      #451B36 50%,
      #200416
    );;
}
.store-modern-menu {
	background-color: rgb(1, 1, 1, .45);
	color: white;
	text-align: center;
	border: 1px solid white;
	padding: 20px 20px 20px 20px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	letter-spacing: 0.075em
}
.store-and-user-avatar {
	min-height: 100px;
	display: flex;
	flex-direction: column;
	background-color: rgb(1, 1, 1, .45);
}
.bottom-menu {
	min-height: 50px;
	display: flex;
	flex-direction: column;
	border: 1px solid white;;	
}
.shop-stats-container {
	border: 1px solid white;
	min-height: 450px;
	background-color: rgb(1, 1, 1, .45);
	text-align: center;
	color: white;
	padding: 20px 20px 20px 20px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.store-modern-menu:hover {
	text-shadow: 0 0 0.2em #fff;
}

.filter-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 150px;
}
/*
	Store - Left Overlay ShoppingCart Sidebar
*/

.shopping-cart-sidebar-wrapper > .shopping-cart-inner-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 100vh;
	overflow: auto;
	border: 1px solid white;
	background-color: rgb(1, 1, 1, .45);
}
.shopping-cart-item-wrapper {
	border-bottom: 1px solid white;
}

/* 
	Terminal Action Screen
*/

.action-screen-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	position: relative;
}

.left-40 {
	overflow: auto;
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 100%;
	background-color: rgb(43, 43, 43);
}

.right-60 {
	width: 60%;
	height: 100%;
	background-color: rgb(51, 51, 51);
	display: flex;
	flex-direction: column;
}

table {
	border: 1px solid black !important;
}





/* Point-Of-Sale Buttons */

.menu-item-Buttons {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;
	width: 100%;
	min-height: 80vh;
	flex-grow: 1;
	overflow: auto;
}

.ui-pos-item {
	display: flex;
	flex-direction: column;
	height: 220px;
	width: 180px;
	background-color: /* rgb(0, 0, 0, .30) #431730 */ rgb(0,0,0, 0.40);
	font-size: 0.8em;
	border: 1px solid white;
	color: white;
	border-radius: 3px;
	position: relative;
	margin-bottom: 10px;
}

.ui-pos-item:hover {
	background-color: rgb(255, 255, 255);
	border: 3px solid black;
	color: black;
}


.ui-pos-item_image {
	width: 100%;
	height: 85%;
	padding: 5px 5px 0 5px;
	object-fit: cover;
	margin-bottom: 3px;
}

.ui-pos-item_content {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 10%;
	text-align: center;
	margin-top: -3px;
}


/* New Card Mockup */

.ui_card_mockup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 550px;
	width: 300px;
	/*
	background-color: rgba(64, 14, 113, .5); */
	border: 1px solid black;
	border-bottom: none;
	margin-bottom: 20px;
	position: relative;
}

.ui_card_image {
	width: 100%;
	height: 400px;
	object-fit: cover;

}

.ui_card_content {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	border-top: 1px solid black;
	width: 100%;
	min-height: 150px;
	background-color: rgb(34, 35, 39);
}


.dynamic_cards{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.StoreItem-Header-Name {
	font-size: 18px;
	line-height: 23.15px;
	margin-top: -3.85px !important;
	color: rgb(255, 255, 255);
	padding-top: 5px;
	padding-left: 5px;
	font-weight: 700;
	margin-bottom: 0px;
}
.stock-count {
	line-height: 20px;
	color: rgba(255, 255, 255, 0.5);
	padding-left: 10px;
	margin-bottom: 0px;
}
.store-pricing{
	font-weight: 700;
	color: rgba(255, 255, 255);
	font-size: 20px;
	padding-left: 5px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 30px;
}
.button_no_border_radius {
	height: 75px;

	border-radius: 0px !important;
	border-bottom: 1px solid black !important;
}
.cart-button-container {
	height: 50px;
	width: 100%;
	background-color: red;
}


.ui_card_mockup_fat {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 500px;
	width: 750px;
	/*
	background-color: rgba(64, 14, 113, .5); */
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 30px;
	margin-top: 30px;
	position: relative;
}

.ui-card-infotext {
	height: 100px;
}
img { object-fit: cover; height: 100%; width: 100%;}


/*

	Splash page

*/

.splash-page-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	background-color: transparent;
	min-height: 25px;
	border-bottom: 1px solid black;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;

}

.jumbo-image-container {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.container-overlay-content {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
}

.jumbo-image-blurred {
	filter: blur(3px);
	transform: scale(1.02)
}

.splash-intro {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	background-color: rgb(49, 60, 69);
	color: white;
	width: 100%;
	min-height: 200px;
	font-weight: 700;
}

.splash-animated-infographic {
	width: 100%;
	min-height: 300px;
	display: flex;
}

.splash-1-2-col {
	height: 100%;
	width: 50%;
}
.splash-register{
	width: 400px;
	height: 300px;
}

.splash-footer-sitemap{
	min-height: 100px;
	width: 100%;
	color: white;
	background-color: black;
}
.vh100{
	position: relative;
	min-height: 100vh;
}
/* Modals */

.Overlay {
	background-color: rgba(0,0,0, 0.20);
}