/* 
	Root Body Styling 
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

#root {
	height: 100%;
	width: 100%;
}
.Hide {
  display:none;
}

/* 
	Login and Registration Forms
*/

.login-form-submit-button>.ui.button {
	color: #fff;
	background-color: #0375B4;
}

.leftLabel {
	text-align: left;
}

.rightLabel {
	text-align: right;
}

/* 
	Admin Terminal 
*/

.ui.inverted.menu .item:hover{
	background-color: #fff !important;
	color: black;
	cursor: pointer;

}

.admin-header-menu-item_first-item {
	padding-left: 25px !important ;
	margin-top: 50px !important; 
}

.admin-header-menu-item_extra_padding_bottom {
	padding-bottom: 18px !important;
	color: #fff !important;
}
.admin-page-wrapper {
	width: 100%;
	height: 100%;
}

.admin-header {
	background-color: #363F48;
	height: 53.2px;
	width: 100%;
}

.admin-content-display {
	width: 100%;
	height: 100%;
	background-color: #313C45;
}
.admin-sidebar-and-content-wrapper {
	display: flex;
	height: 90vh;
	width: 100%;
}
.admin-sidebar-menu {
	width: 250px !important;
	background-color: rgba(0,0,0,.87);
}

.admin-menu_bottom-button {
	align-self: flex-end;

}

.admin-footer {
	display: block;
	text-align: center;
	height: 3vh;
	width: 100%;
	color: #fff;
	background-color: #3f1115;
}
.ui.menu {
	height: 100%;
}
/* 
	Employee Terminal 
*/

.page-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #313C45;
	margin: auto;
}

.terminal-navigation-wrapper {
	height: 60%;
	width: 60%;
	margin: auto;
}
.terminal-nav-bar {
	position: fixed;
	top: 0vh;
	left: 0vw;
	background-color: #363F48;
	height: 50px;
	width: 100%;
}
.terminal-button {
	position: relative;
	height: 100%;
	width: 25%;
}
.terminal-button-row {
	display: block;
	height: 50%;
	width: 100%;
}
.iconPosition {
	position: absolute;
	top: 30%;
	left: 47%;
}
.terminal-button-row-internal-flex {
	display: flex;
	height: 100%;
	justify-content: space-evenly;
}

/* 
	My Store Viewer
*/

.my-store-page-wrapper {
	height: 100%;
	width: 100%;
	display:flex;
}

.my-store-homepage-sidebar-left {
	display: flex;
	height: 100%;
	width: 13vw;
	flex-direction: column;
	background-image: radial-gradient(
      circle at bottom right,
      #693D41,
      #451B36 60%,
      #200416
    );
}

.my-store-homepage-main-content {
	display: flex;
	height: 100%;
	width: 52vw;
	flex-direction: row;
	background-color: rgb(0, 0, 0, .90);
	/* background-color: rgba(19, 0, 2, .92); */
	/* background-color: rgba(69, 27, 54, 0.77); */
}

.my-store-homepage-right-sidebar {
	display: flex;
	height: 100%;
	width: 35vw;
	background-image: radial-gradient(
      circle at bottom left,
      #693D41,
      #451B36 50%,
      #200416
    );;
}