body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Hide {
  display:none;
}

.login-form-submit-button>.ui.button {
	color: #fff;
	background-color: #0375B4;
}

.leftLabel {
	text-align: left;
}

.rightLabel {
	text-align: right;
}